<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nb.app.nb" >

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LevelsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".LevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nb.app.nb.Levels" />
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="@string/title_activity_end"
            android:parentActivityName=".TimerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nb.app.nb.Timer" />
        </activity>

        <service
            android:name=".TimerIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".HighScoreActivity"
            android:label="@string/title_activity_high_score" >
        </activity>
    </application>

</manifest> <!-- android:process=":NBServiceProc" -->
